<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartPost</title>
  </head>
  <body>

    <header>
      SmartPost
    </header>

    <h1>Welcome to SmartPost!</h1>

    <h2>What social media app should you use to </h2>

    <button type="button">Let's See!</button>

  </body>
</html>
